/*Global*/
body {
  color: #fff;
  margin: 0;
}
.fa {
  font-size: 24px;
  color: #fff;
}
.container {
  width: 600px;
  margin: 0 auto;
}

.navbar {
  background-color: #10a2c7;
  padding: 1rem;
  display: block;
}

a {
  text-decoration: none !important;
}

body {
  color: #fff !important;
}

.btn-outline-light:hover {
  color: #10a2c7 !important;
  cursor: pointer;
}

.btn-outline-dark {
  color: #10a2c7;
  background-color: transparent;
  background-image: none;
  border-color: #10a2c7;
}

.btn-outline-dark:hover {
  color: #fff;
  background-color: #10a2c7;
}

.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: #10a2c7;
  border-color: #10a2c7;
}

th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

/* Top Nav */
.navbar:first-child {
  height: 30px;
}
.playpause-nav,
.playpause-nav a {
  float: right;
  list-style: none;
}

.navbar a li {
  color: #fff;
  margin-left: 1em;
}

/* Main page Section */

#alphabet img {
  height: 70px;
  width: 90px;
}

#alphabet {
  width: 580px;
  margin: 0 auto;
}

#alphabet td:hover,
.bgBlue {
  background: #10a2c7;
  transition: ease-out 750ms all;
  cursor: pointer;
}

.letters td {
  padding: 0 !important;
  float: right;
}

/* Bottom Nav */
#bottom-nav {
  position: fixed;
  bottom: 0;
}

#bottom-nav #next {
  float: left;
}

#bottom-nav #pageNumber {
  margin: 0 29% !important;
  overflow: auto;
}

#bottom-nav #prev {
  float: right;
}

/* Media Queries */

@media (max-width: 576px) {
  .navbar-brand,
  ul.navbar-nav li {
    padding-left: 1em !important;
  }
}
